html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#arena {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 80%;
    overflow: hidden;

    background: #5f5f5f;
}

#panel {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;

    background: #c0c6cc;
}

.tank {
    position: absolute;
    left: 100px;
    bottom: 100px;
    width: 50px;
    height: 40px;

    background: #134f13;

    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
    -ms-transition: all 1s linear;
    transition: all 1s linear;
}

.turret {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 15px;
    top: 8px;
    border-radius: 12px;

    background: #33cc33;

    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
    -ms-transition: all 1s linear;
    transition: all 1s linear;
}

.gun {
    position: absolute;
    width: 30px;
    height: 3px;
    right: -30px;
    top: 11px;

    background: #330000;
}